<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<meta name="description" content="">
  		<meta name="author" content="">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>{% block title %}OneMinute{% endblock %}</title>

        {% block stylesheets %}

        	<link rel="stylesheet" href="/oneminute/templates/style/css/bootstrap-grid.css">
        	<link rel="stylesheet" href="/oneminute/templates/style/css/bootstrap-reboot.css">
        	<link rel="stylesheet" href="/oneminute/templates/style/css/bootstrap.css">
        	<link rel="stylesheet" href="/oneminute/templates/style/css/shop-homepage.css">
        	<link rel="stylesheet" href="/oneminute/templates/style/css/bootstrap-extras-margins-padding.css">
        	<link rel="stylesheet" href="/oneminute/templates/style/css/style.css">
        	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        	
        {% endblock %}
    </head>
    <body>
    	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
			<div class="container">
			  <a class="navbar-brand" href="{{ path('index') }}">1minutepresta</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarResponsive">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="{{ path('index') }}">Accueil
			          <span class="sr-only">(current)</span>
			        </a>
			      </li>
			      <li class="nav-item">
			      	{% if app.user %}
			      		<a class="nav-link" href="{{ path('account') }}">Mon Compte</a>
			      	{% else %}
			      		<a class="nav-link" href="{{ path('login') }}">Connexion</a>
			      	{% endif %}
			      </li>
			      <li class="nav-item">
			      	<a class="nav-link" href="{{ path('createAccount') }}">Inscription</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('declaration') }}">Aide déclaration revenues</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Nos services</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		
        {% block body %}


        {% endblock %}

		

        {% block javascripts %}
        	<script type="text/javascript" src="/oneminute/templates/style/jquery/jquery.min.js"></script>
        	<script type="text/javascript" src="/oneminute/templates/style/js/bootstrap.js"></script>
        	<script type="text/javascript" src="/oneminute/templates/style/js/bootstrap.bundle.min.js"></script>

        	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
     		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        	<script>
			  function resizeIframe(obj) {
			  	var height = document.documentElement.scrollHeight + 250;
			    obj.style.height = height + 'px';
			  }
			</script>

			<script type="text/javascript" src="/oneminute/src/js/action.js"></script>
			
        {% endblock %}
    </body>

    <footer class="py-3 footer">
		<div class="container">
		  <p class="m-0 text-center text-white">Copyright &copy; 1minutepresta</p>
		</div>
	<!-- /.container -->
	</footer>

</html>
