{% extends "base.html.twig" %}

{% block body %}

	<!--Section: Block Content-->
	<section class="container">

	  <!--Grid row-->
	  <div class="row">

	    <!--Grid column-->
	    <div class="col-lg-8">

	      <!-- Card -->
	      <div class="mb-3">
	        <div class="pt-4 wish-list">

	          <h5 class="mb-4">Récapitulatif de votre prestation de service</h5>

	          <div class="row mb-4">
	            <div class="col-md-5 col-lg-3 col-xl-3">
	              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
	                <img class="img-fluid w-100"
	                  src="http://placehold.it/700x400">
	              </div>
	            </div>
	            <div class="col-md-7 col-lg-9 col-xl-9">
	              <div>
	                <div class="d-flex justify-content-between">
	                  <div>
	                    <h5>{{announcement[0].Title}}</h5>
	                    <p class="mb-3 text-muted text-uppercase small">{{announcement[0].Description|length > 200 ? announcement[0].Description|slice(0, 200) ~ '...' : announcement[0].Description}}</p>
	                    <p class="mb-2 text-muted text-uppercase small">{{announcement[0].User}}</p>
	                    <p class="mb-3 text-muted text-uppercase small">Prix: {{announcement[0].Price}}€</p>
	                  </div>
	                </div>
	                
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <!-- Card -->


	      <!-- Card -->
	      <div class="mb-3">
	        <div class="pt-4">

	          <img class="mr-2" width="45px"
	            src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
	            alt="Visa">
	          <img class="mr-2" width="45px"
	            src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
	            alt="American Express">
	          <img class="mr-2" width="45px"
	            src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
	            alt="Mastercard">
	          <img class="mr-2" width="45px"
	            src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
	            alt="PayPal acceptance mark">
	        </div>
	      </div>
	      <!-- Card -->

	    </div>
	    <!--Grid column-->

	    <!--Grid column-->
	    <div class="col-lg-4">

	      <!-- Card -->
	      <div class="mb-3">
	        <div class="pt-4">

	          <h5 class="mb-3">Total de la commande</h5>

	          <ul class="list-group list-group-flush">
	            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
	              Total
	              <span>{{announcement[0].Price}}€</span>
	            </li>
	            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
	              TVA
	              <span>indiquer taux</span>
	            </li>
	            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
	              <div>
	                <strong>Total</strong>
	                <strong>
	                  <p class="mb-0">(avec TVA)</p>
	                </strong>
	              </div>
	              <span><strong>calculer le prix avec tva</strong></span>
	            </li>
	          </ul>

	          <div class="ml-4 mb-15">
	          	<input class="form-check-input" type="radio" name="cgv" id="cgv" value="option2" onclick="cgvRadio(this)">
              	<label class="form-check-label" for="cgv">J'accepte les CGV pour payer*</label>
           	  </div>
	          
	          <a id="payment-button" href="{{ path('payment', {'id': announcement[0].Id}) }}"class="btn btn-success btn-block disabled" type="button">Payer</a>

	        </div>
	      </div>
	      <!-- Card -->

	    </div>
	    <!--Grid column-->

	  </div>
	  <!-- Grid row -->

	</section>
<!--Section: Block Content-->

{% block javascripts %} 
    <script type="text/javascript" src="/oneminute/src/js/action.js"></script>
{% endblock %}
	
{% endblock %}