{% extends "base.html.twig" %}

{% block body %}
	<div class="row mt-10 mb-10">
		{% if announcements != null %}
			<h5 class="w-100 text-center">Annonces de {{titleCat.Category.Name}}</h5>
		{% else %}
			<h5 class="w-100 text-center">{{titleCat}}</h5>
		{% endif %}
		
	</div>

	<div class="row">
		{% for announcement in announcements %}
			{% if announcement.IsActive %}

				<div class="col-lg-4 col-md-6 mb-4 ml-5">
					<div class="card h-100">
						<!--http://placehold.it/700x400-->
						<a href="#"><img class="card-img-top" src="{{ announcement.image }}" alt=""></a>
						<div class="card-body">
							<h4 class="card-title">
							  <a href="{{ path('announcement', {'id': announcement.id}) }}">{{announcement.Title}}</a>
							</h4>
							<h5>{{announcement.Price}}€</h5>
							<p class="card-text">{{announcement.Description|length > 200 ? announcement.Description|slice(0, 200) ~ '...' : announcement.Description}}</p>
						</div>
						<div class="card-footer">
							<small class="text-muted"></small>
						</div>
					</div>
				</div>

			{% endif %}
		{% endfor %}
	</div>

{% endblock %}