{% extends "base.html.twig" %}

{% block body %}
  <div>
    <div class="container">
      <div class="row">
         <img class="logo" src="/oneminute/templates/images/logo/logo.webp"/>
      </div>
    </div>
    
      <div class="container add-menu-item">
        <div class="menu-desktop" style="margin-bottom: 50px;">

          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul id="menu-item-desk" class="navbar-nav second-menu" style="flex-wrap: wrap; justify-content: space-between;">
               
                {% for category in categories %}

                  {% if category.IsActive and category.Level == 0 %}
                
                    <li class="nav-item {{ category.Categories != null ? 'dropdown' : '' }}">
                      
                        <a class="nav-link {{ category.Categories != null ? 'dropdown-toggle disabled' : '' }}" id="{{ category.id }}" href="{{ category.Categories != null ? '#' : path('category', {'id': category.id}) }}" {{ category.Categories != null ? 'data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"' : '' }} style="color: rgba(0,0,0,.55);">
                        {{category.Name}}<span class="sr-only"></span>
                        </a>

                      {% if category.Categories != null %}

                        <div class="dropdown-menu" aria-labelledby="{{ category.id }}">
                        {% for categoryLv1 in category.Categories %}
                          {% if categoryLv1.IsActive %}
                            <a class="dropdown-item" href="{{ path('category', {'id': categoryLv1.id}) }}">{{categoryLv1.Name}}<span class="sr-only"></span></a>
                          {% endif %}
                        {% endfor %}
                        </div>

                    {% endif %}
                    </li>

                  {% endif %}

                {% endfor %}
               
                
              </ul>
            </div>
          </nav>
        </div>

        <div class="menu-mobile">
          <div class="accordion accordion-flush" id="accordionFlushExample">

            {% for category in categories %}
              {% if category.IsActive and category.Level == 0 %}
                <div class="accordion-item">
                   <h2 class="accordion-header" id="flush-{{ category.id }}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-number-{{category.id}}" aria-expanded="false" aria-controls="flush-number-{{category.id}}">
                        {{category.Name}}
                      </button>
                    </h2>
                    <div id="flush-number-{{category.id}}" class="accordion-collapse collapse" aria-labelledby="flush-{{ category.id }}" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                         {% if category.Categories != null %}
                            <div class="row">
                            {% for categoryLv1 in category.Categories %}
                              {% if categoryLv1.IsActive %}
                                <a class="dropdown-item" href="{{ path('category', {'id': categoryLv1.id}) }}">{{categoryLv1.Name}}<span class="sr-only"></span></a>
                              {% endif %}
                            {% endfor %}
                            </div>
                          {% endif %}
                      </div>
                    </div>

                     <!--<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-{{ category.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                          {% if category.Categories != null %}
                            <div class="dropdown-menu" aria-labelledby="{{ category.id }}">
                            {% for categoryLv1 in category.Categories %}
                              {% if categoryLv1.IsActive %}
                                <a class="dropdown-item" href="{{ path('category', {'id': categoryLv1.id}) }}">{{categoryLv1.Name}}<span class="sr-only"></span></a>
                              {% endif %}
                            {% endfor %}

                            </div>
                          {% endif %}
                        </div>
                      </div>-->
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      </div>
    
      <div class="container">
        <div class="row justify-content-center">
          <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner container" role="listbox">
              <div class="carousel-item active row">
                <img class="d-block img-fluid" src="/oneminute/templates/images/caroussel/bricolage.jpg" alt="First slide">
              </div>
              <div class="carousel-item row">
                <img class="d-block img-fluid" src="/oneminute/templates/images/caroussel/jardinage.jpg" alt="Second slide">
              </div>
              <div class="carousel-item row">
                <!--http://placehold.it/900x350-->
                <img class="d-block img-fluid" src="/oneminute/templates/images/caroussel/menage.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="mt-10 row">
          <div class="w-100 text-center mb-20">
            <h4>Nos 10 dernières annonces :</h4>
          </div>
        </div>
      </div>

      <!--col-lg-10 ml-2-->
      <div class="container">
        <div class="row">
          <div class="row col-12 d-flex flex-row-reverse ml-3 ml-sm-n1">
        {% for announcement in announcements %}
          {% if announcement.IsActive %}

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <!--http://placehold.it/700x400-->
                <a href="#"><img class="card-img-top" src="{{ announcement.Image }}" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ path('announcement', {'id': announcement.id}) }}">{{announcement.Title}}</a>
                  </h4>
                  <span class="card-text">{{ announcement.User.IsPro ? "Professionnel" : "Particulier" }}</span>
                  <p class="card-text">{{ announcement.User.City }} - {{ announcement.User.CodePoste }}</p>
                  <h5>{{announcement.Price}}€</h5>
                  <p class="card-text">{{announcement.Description|length > 200 ? announcement.Description|slice(0, 200) ~ '...' : announcement.Description}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
              </div>
            </div>

          {% endif %}
        {% endfor %}
          </div>
        </div>
      </div>

    </div>

    

{% endblock %}